.cat-card  {
    margin-top: 20px;
    margin-right: 20px;
    height: 200px ; 
    width: 250px ; /* Fixed width */
    position: relative; /* Set position to relative */
}

.post-img {
    width: 100%;
    height: 100%;
    max-width: 300px;
    max-height: 300px;
}

.overflow-hidden {
    overflow: hidden; /* Hide overflow text */
}

.card-text {
    flex-grow: 1; /* Allow text to grow */
}
