.blog-img {
    max-width: 100%; /* Ensure the image doesn't exceed its container's width */
    max-height: 35vh; /* Set a maximum height for the image */
    width: auto; /* Let the browser calculate the width based on the max-height and aspect ratio */
    height: auto; /* Let the browser calculate the height based on the max-width and aspect ratio */
}

.blog-div{
    margin-left: 15%;
    width: 80%;
    
}
body{
    background-color: whitesmoke;
}
.light-font{
    color: rgb(88, 88, 88);
    font-weight: lighter;
}
.content-div{
    min-height: 50vh;
}